.loginBg {
  width: 100%;
  height: 100%;
  background: url("../../assets/bg.jpg");
  padding-top: 200px;
}

.login_content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.login_form {
  width: 450px;
  height: 380px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 8px 8px 5px #888;
}

.login_title {
  margin: 0;
  padding: 30px 20px;
  text-align: center;

  h2 {
    font-size: 18px;
    color: #666666;
  }
}

.login_input {
  padding: 10px 40px;
  margin: 0;
  text-align: center;
}

.login_logo {
  height: 40px;
}

.input {
  height: 45px;
}

.login_btn{
  width: 100%;
  height: 45px;
  font-size: 16px;
}
